#main-title {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
	letter-spacing: 2px;
	font-weight: 500;
}

.box1 h2 {
	float: left;
}

.box1 button {
	float: right;
}

.container {
	margin-top: 50px;
}

h6 {
	text-align: center;
	color: red;
}